body {
    margin: 0 auto;
    background-image: url('background.gif') ;
    background-size: cover;
    color: #000000; 
}

*, ::after, ::before {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: rgb(5, 5, 5);
    position: relative;
}

header .header-description {
    max-height: 30px;
    width: 100%;
    
}

header .header-description small {
    color: #ffffff3f;
}

header .authentication-link {
    display: none;
}

nav {
    position: relative;
    width: 100%;
    padding: 0;
    background: rgba(112, 58, 194, 0.137);
    height: 50px;
}

nav .menu {
    width: 70%;
    float: left;
    height: 50px;
}

nav .menu ul {
    list-style: none;
    padding: 0;
    max-height: 90px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-left: 40%;
}

nav .menu ul li {
    display: inline-block;
    border-right: 1px solid #f1f0f0;
    line-height: 30px;
}

nav .menu ul li:last-child {
    border-right: unset;
}

nav .menu ul li a {
    text-decoration: none;
    color: #ffffff7c;
    font-size: 20px;
    padding: 0 20px;
}

a.active {
    color: rgb(60, 131, 174) !important;
}

nav .menu ul li a:hover {
    color: #9a2020;
}



main {
    position: relative;
    width: 100%;
    float: left;
    height: calc(100vh - 150px);
}

main .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

main .row article {
    flex: 0 0 auto;
    width: 100%;
}

main .row article.content {
    padding: 20px;
    text-align: center;
}

.full-block {
    width: 88%;
    margin-left: 4%;
    margin-top: -2%; 
}

.mt-10 {
    margin-top: 8px;
    text-align: center;
}

.bg-blue {
    background-color: rgba(100, 148, 237, 0.055);
}

.border-clear {
    border: unset;
}

form {
    text-align: center; 
}

form input, form textarea {
    border-bottom: 1px solid rgba(233, 233, 14, 0.247) !important;
    text-align: center;
    color: #fff; 
}

form input::placeholder, form textarea::placeholder {
    color: #ffffff86;
}

.btn-contact {
    padding: 5px;
    background-color: rgba(211, 145, 23, 0.418);
    font-size: 17px;
    width: 50%;
    margin: 0 auto; 
    display: block;
    text-align: center; 
    margin-right: 23%;
}

footer {
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
    background-color: rgba(2, 2, 2, 0.603);
    line-height: 50px;
}

footer p {
    margin: 0;
    text-align: center;
    color: #fff;
}

#map {
    position: relative;
    width: 100%;
    height: 40vh;
    border: 5px solid #1a234d73; 
    cursor: pointer;
    margin-top: -12px;
}

#elpsd {
    background-color: #21273150;
    color: #fff;
}

#audio-controls {
    position: fixed;
    top: 40px;
    left: 30px;
    cursor: pointer;
    z-index: 999; 
}

@media only screen and (max-width: 1250px) {
    main .row {
        flex-direction: column;
    }

    main .row article {
        width: 100%;
    }

    main .row article.content {
        height: auto;
        box-sizing: border-box;
        padding: 20px;
    }

    main {
        margin-bottom: 300px;
    }

    header .header-description small {
        text-align: center;
        font-size: 12px;
    }

    nav .menu {
        width: 100%;
        margin-left: 0;
    }

    nav .menu ul li {
        border-right: none;
        padding: 5px;
    }

    nav .menu ul li a {
        padding: 15px 0;
        font-size: 12px;
        
    }

    main #map {
        height: 30vh;
    }

}